# WEB
BASE_URL=https://www.tiket.com
MOBILE_BASE_URL=https://m.tiket.com
REMOTE_BROWSER_URL=https://www.tiket.com
BROWSER=chrome

ORIGIN_AIRPORT_CODE=JKTC
DESTINATION_AIRPORT_CODE=DPSC
FLIGHT_CITIZENSHIP=Indonesia
